@media screen and (max-width: 991.98px) {
    .footer {
        .footer-content {
            .footer-detail {
                width: 25%;
            }
        }

    }

    .copyright {
        .copyright-left {
            p {

                font-size: $font-size-1 - .2;
            }
        }

        .copyright-right {

            ul {
                justify-content: flex-end;

                li {
                    padding: 0 $padding-1;

                    a {
                        font-size: $font-size-1 - .3;
                    }
                }

                li:first-child {
                    padding-left: 0;
                }


            }
        }


    }

    .logo-footer {
        justify-content: center !important;

        img {
            width: 50%;
            height: 30px;
        }


    }

}