@media screen and (max-width: 412px) {

    // header navbar
    .header__nav {
        a {
            padding: $padding-1;
            font-size: $font-size-1 - .4;
        }

        &>a:first-child {
            padding: 0 $padding-1 - 1;
        }

        button {
            margin-right: $margin-2 - 1;
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: $ultra-pd-1 $ultra-fz-2;
                }
            }
        }
    }

    // discover-menu
    .discover-menu {
        &::before {
            top: 2rem;
        }
    }



    //search
    #search-area {
        background-color: $color-blue-100;
        padding: $padding-1 $padding-2;

        i {
            color: $color-white;
            font-size: $ultra-fz-2;
            margin-top: 5px;
        }

        &::before {
            display: none;
        }

        input {
            font-size: $ultra-fz-2;
            width: 70%;
            height: 2rem;
            margin-right: $margin-1;
            color: $color-white;
            border: 1px solid $color-white;
            border-radius: 8px;
            padding: $padding-1 ;
            padding-left: $padding-1;
            padding-right: $padding-4;


            &::placeholder {
                font-size: $ultra-fz-2;
                color: $color-white;
            }
        }

        .navbar-collapse {
            border-top: $border-color-1 ;
        }

        .btn-search {
            font-size: $ultra-fz-2;
            padding: $ultra-pd-1;
            @include buttonVehicle($color-white, transparent, $color-white, $color-white, $color-blue-100)
        }
    }
}