@media screen and (max-width: 767.98px) {

    // header navbar
    .header__nav {
        .nav-item {
            .discover-menu {
                left: 15%;
            }
        }

        &>a {
            padding: $padding-1 + 10 $padding-2 + 2;
            font-size: $font-size-1 - .4;
            border: $border-color-1;
        }

        &>a:first-child {
            padding: 0 $padding-1;
        }

        button {
            margin-right: $margin-2;
        }
    }

    .navbar-collapse {
        border-top: $border-color-1 ;

        .navbar-nav {

            .nav-item {
                .nav-link {
                    padding: $padding-1 $padding-1;
                    border: none;
                    font-size: $font-size-1 - .2;
                }
            }
        }
    }

    //Discover-menu
    .discover-menu {
        &::before {
            @include arrow(unset, 2%);
            top: 2.2rem;
        }
    }

    //search
    #search-area {
        background-color: $color-blue-100;
        padding: $padding-1 $padding-2;

        i {
            color: $color-white;
            font-size: $font-size-1;
        }

        // ẩn dấu mũi tên
        &::before {
            display: none;
        }

        input {
            font-size: $font-size-1 - .2;
            width: 68%;
            height: 2rem;
            margin-right: $margin-1;
            color: $color-white;
            border: 1px solid $color-white;
            border-radius: 10px;
            padding: $padding-1 ;
            padding-left: $padding-1;
            padding-right: $padding-4;

            &::placeholder {
                font-size: $font-size-1;
                color: $color-white;
            }
        }

        .btn-search {
            font-size: $font-size-1 - .2;
            padding: 0 $padding-2;
            @include buttonVehicle($color-white, transparent, $color-white, $color-white, $color-blue-100)
        }
    }


    //vehicle-title
    .vehicles {
        .vehicles-content {
            .vehicle__nav {
                ul {
                    li {
                        a {
                            padding: $padding-1 + .1;
                            font-size: $font-size-1 - .3;
                        }
                    }
                }
            }
        }
    }

}