.collision {
    .collisions__content {



        h2 {
            font-size: $font-size-1 + .1;
            line-height: 1.7;
        }

        p {
            word-break: break-all;
            display: block;
            line-height: 1.7;
            font-size: $font-size-1 ;
        }
    }

    .collision__container {
        border-bottom: $border-color-2;
        padding-bottom: $padding-5;

    }
}