@media screen and (max-width: 575.98px) {
    .our-vehicle {
        #our-vehicle-slider {
            .carousel-indicators--config {
                display: none !important;

                li {
                    font-size: $font-size-1 - .5;
                }
            }
        }

        .carousel-caption--config {
            bottom: 85px;
        }

        .carousel-inner {
            // overflow: auto;
            top: 66px;
        }

        // .increase-top {
        //     top: 60px
        // }

        .carousel-xs-indicators {

            position: absolute;
            left: 20%;
            width: 60%;
            margin: 0 auto;
            background-color: $color-white;
            border: $border-color-2;
            z-index: 20;

            i {
                margin-left: auto;
                margin-right: $margin-1;
                font-size: $font-size-1;
                color: $color-blue-100;
                transform: rotate(0);
                transition: transform .3s;
            }

            .rotate {
                transform: rotate(180deg);
            }



            h1 {
                padding: $padding-1 0;
                padding-left: $padding-1 + 5;
                font-size: $font-size-1;
                color: $color-blue-200;
                font-weight: $font-weight-300;

                span {
                    font-size: $font-size-1 - .2;
                    font-weight: $font-weight-bold;
                    color: $color-dark-blue-200;
                }
            }

            ol {
                display: none;
            }

            ol li {
                &:first-child {
                    border-top: $border-color-2;
                }

                color: $color-dark-blue-100;
                font-weight: $font-weight-bold;
                padding: $padding-1 +5 $padding-1;
                cursor: pointer;
            }
        }

        .vehicle-function {
            .row {
                .function {

                    // margin: 0 auto;
                    .function-detail {
                        width: 100%;
                        top: 50%
                    }
                }
            }
        }
    }
}