.our-vehicle {
    .vehicle-function {
        .pd-column {
            padding: 0 $padding-1;
        }

        .row {
            margin-left: 0;
            margin-right: 0;
            padding: 0 $padding-7;

            .function {
                position: relative;
                padding: 0 $padding-1;
                // margin: ; ...code
                height: 300px;
                text-align: center;
                box-shadow: $box-shadow-2;
                cursor: pointer;
                transform: translateY(0);
                transition: transform .4s;

                &:hover {
                    transform: translateY($margin-2 * (-1));
                }

                .function-detail {
                    position: absolute;
                    top: 45%;
                }

                h2 {
                    font-size: $font-size-2;
                    font-weight: $font-weight-bold;
                    color: $color-dark-blue-100;
                }

                p {
                    font-size: $font-size-1 - .1;
                    font-weight: $font-weight-300;
                    margin-bottom: $margin-2 - 10;
                    padding: 0 $padding-4;
                }
            }

        }
    }
}