@mixin buttonVehicle($border, $bg-color, $text-color, $bg-hover, $color-hover) {
    border: 1px solid $border;
    color: $text-color;
    border-radius: 40px;
    background-color: $bg-color;
    font-weight: bold;

    &:hover {
        background-color: $bg-hover;
        color: $color-hover;
    }
}


@mixin arrow($right, $left) {
    content: '';
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -13px;
    left: $left;
    right: $right;
}

@mixin title($fs, $fw, $text_color, $alignText) {
    font-size: $fs;
    font-weight: $fw;
    color: $text_color;
    text-align: $alignText;
}

@mixin socialIcons {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: $color-blue-100;
    border: $border-color-1;
    border-radius: 50%;
    color: $color-white;
    font-size: $font-size-1;
    transform: scale(1);
    transition: transform .2s ease;
}